web uygulaması (asmx)/webServisUygulamaConsole/webServisUygulamaConsole/Web References/urunWebServis/urunServis.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:tns="http://tempuri.org/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="urunKayitYeni">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="u" type="tns:urun" />
            <s:element minOccurs="0" maxOccurs="1" name="g" type="tns:guvenlik" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="urun">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="id" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="urunKimlik" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="tanim" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="aciklama" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="stokAdet" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="guvenlik">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="kullaniciAdi" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="sifre" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="clientKey" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="tokenTime" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="privateValue" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:element name="urunKayitYeniResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="urunKayitYeniResult" type="tns:outputType" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:simpleType name="outputType">
        <s:restriction base="s:string">
          <s:enumeration value="islemBasarili" />
          <s:enumeration value="islemBasarisiz" />
          <s:enumeration value="tanimsiz" />
          <s:enumeration value="kayitliUrun" />
          <s:enumeration value="yeniUrun" />
          <s:enumeration value="urunBulunamadi" />
          <s:enumeration value="guvenlikHatasi" />
        </s:restriction>
      </s:simpleType>
      <s:element name="urunKayitDuzenle">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="u" type="tns:urun" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="urunKayitDuzenleResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="urunKayitDuzenleResult" type="tns:outputType" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="urunKayitSil">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="urunKimlik" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="urunKayitSilResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="urunKayitSilResult" type="tns:outputType" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="urunTumListe">
        <s:complexType />
      </s:element>
      <s:element name="urunTumListeResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="urunTumListeResult" type="tns:ArrayOfUrun" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfUrun">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="urun" nillable="true" type="tns:urun" />
        </s:sequence>
      </s:complexType>
      <s:element name="urunGetir">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="urunKimlik" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="urunGetirResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="urunGetirResult" type="tns:urun" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="urunKayitYeniSoapIn">
    <wsdl:part name="parameters" element="tns:urunKayitYeni" />
  </wsdl:message>
  <wsdl:message name="urunKayitYeniSoapOut">
    <wsdl:part name="parameters" element="tns:urunKayitYeniResponse" />
  </wsdl:message>
  <wsdl:message name="urunKayitDuzenleSoapIn">
    <wsdl:part name="parameters" element="tns:urunKayitDuzenle" />
  </wsdl:message>
  <wsdl:message name="urunKayitDuzenleSoapOut">
    <wsdl:part name="parameters" element="tns:urunKayitDuzenleResponse" />
  </wsdl:message>
  <wsdl:message name="urunKayitSilSoapIn">
    <wsdl:part name="parameters" element="tns:urunKayitSil" />
  </wsdl:message>
  <wsdl:message name="urunKayitSilSoapOut">
    <wsdl:part name="parameters" element="tns:urunKayitSilResponse" />
  </wsdl:message>
  <wsdl:message name="urunTumListeSoapIn">
    <wsdl:part name="parameters" element="tns:urunTumListe" />
  </wsdl:message>
  <wsdl:message name="urunTumListeSoapOut">
    <wsdl:part name="parameters" element="tns:urunTumListeResponse" />
  </wsdl:message>
  <wsdl:message name="urunGetirSoapIn">
    <wsdl:part name="parameters" element="tns:urunGetir" />
  </wsdl:message>
  <wsdl:message name="urunGetirSoapOut">
    <wsdl:part name="parameters" element="tns:urunGetirResponse" />
  </wsdl:message>
  <wsdl:portType name="urunServisSoap">
    <wsdl:operation name="urunKayitYeni">
      <wsdl:input message="tns:urunKayitYeniSoapIn" />
      <wsdl:output message="tns:urunKayitYeniSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="urunKayitDuzenle">
      <wsdl:input message="tns:urunKayitDuzenleSoapIn" />
      <wsdl:output message="tns:urunKayitDuzenleSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="urunKayitSil">
      <wsdl:input message="tns:urunKayitSilSoapIn" />
      <wsdl:output message="tns:urunKayitSilSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="urunTumListe">
      <wsdl:input message="tns:urunTumListeSoapIn" />
      <wsdl:output message="tns:urunTumListeSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="urunGetir">
      <wsdl:input message="tns:urunGetirSoapIn" />
      <wsdl:output message="tns:urunGetirSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="urunServisSoap" type="tns:urunServisSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="urunKayitYeni">
      <soap:operation soapAction="http://tempuri.org/urunKayitYeni" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="urunKayitDuzenle">
      <soap:operation soapAction="http://tempuri.org/urunKayitDuzenle" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="urunKayitSil">
      <soap:operation soapAction="http://tempuri.org/urunKayitSil" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="urunTumListe">
      <soap:operation soapAction="http://tempuri.org/urunTumListe" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="urunGetir">
      <soap:operation soapAction="http://tempuri.org/urunGetir" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="urunServisSoap12" type="tns:urunServisSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="urunKayitYeni">
      <soap12:operation soapAction="http://tempuri.org/urunKayitYeni" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="urunKayitDuzenle">
      <soap12:operation soapAction="http://tempuri.org/urunKayitDuzenle" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="urunKayitSil">
      <soap12:operation soapAction="http://tempuri.org/urunKayitSil" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="urunTumListe">
      <soap12:operation soapAction="http://tempuri.org/urunTumListe" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="urunGetir">
      <soap12:operation soapAction="http://tempuri.org/urunGetir" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="urunServis">
    <wsdl:port name="urunServisSoap" binding="tns:urunServisSoap">
      <soap:address location="https://localhost:44305/urunServis.asmx" />
    </wsdl:port>
    <wsdl:port name="urunServisSoap12" binding="tns:urunServisSoap12">
      <soap12:address location="https://localhost:44305/urunServis.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>